{{!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Devour it!!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html> --}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Eat-Da-Burger App for Northwestern Coding Boot Camp 2017">
    <meta name="author" content="Darryl Mittlestaedt">
    <link rel="icon" href="assets/img/burger2.jpg">

    <title>Eat-Da-Burger App</title>

     <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
      <div>
      {{{ body }}}
      </div>
  </body>
</html>